.nav{
  background-color: #3E84A8;
  color: #fff;
  font-family: Poppins;

}
.header{
  background-color: #265C77;
  color: #fff;
  margin-bottom: 20px;
  height: 120px;
  padding: 20px 0 20px 0;
  text-align: center;
}

.bookmark-icon{
  float: left;
  padding: 5px 0 0 8px;
}
.header-text{
  float: right;
}
.sidebar{
  width:250px;
  position: fixed;
  height: 800px;

}

.links-area{
  padding:0 20px 20px 20px;
  color: #fff;
}
.nav-link{

  text-align: left;
  background-color: #3E84A8;
  color: #fff;
  border-radius: 20px;
  height:38px;
}
.nav-link:hover{
  color:#f0f0f0;
  background-color: #265C77;

}
.submenu{
  font-size: 0.9rem;
}
